extends layout

block content
  .ui.labeled.icon.button.red.right.floated
    i.heart.icon
    p= pop
  .ui.left.floated
    h1= "Bienvenue " + data.firstname + " " + data.lastname

  .ui.card.link
    a.image(href='/u/' + data.username)
      if data.pic0
        img(src=data.pic0)
      else
        img(src='/noprofile.jpg')
  br
  br
  br
  .ui.grid.internally.celled
    .row
      .height.wide.column(style="min-width:400px;")
        h3 Ils ont consulté votre profil.
        .ui.items.divided
          each visit in visits
            .item#frame
              a.ui.card.small.image(href="/u/" + visit['username'])
                img(src=visit['pic0'])
              .content
                br
                a.header(href="/u/" + visit['username'])= visit['firstname'] + ' ' + visit['lastname']
                .meta
                  if (visit['bio'].length > 200)
                    span= visit['bio'].substring(0,300)+" ..."
                  else
                    span= visit['bio']
                .extra
                  span= visit['age'] + ' ans'
      .height.wide.column(style="min-width:400px;")
        h3 Ils vous likes.
        .ui.items.divided
          each like in likes
            .item#frame
              a.ui.card.small.image(href="/u/" + like['username'])
                img(src=like['pic0'])
              .content
                br
                a.header(href="/u/" + like['username'])= like['firstname'] + ' ' + like['lastname']
                .meta
                  if (like['bio'].length > 200)
                    span= like['bio'].substring(0,300)+" ..."
                  else
                    span= like['bio']
                .extra
                  span= like['age'] + ' ans'
