doctype html
html
  head
    if (user)
      .ui.primary.big.left.floated.button(onclick="openNotif()" style="left:0; position:fixed; top:0;")
        i.content.icon
        span.text Notif
      .ui.left.fixed.vertical.menu.notifBar(style="visibility: hidden; padding-top:10px;")
        <a href="javascript:void(0)" onclick="closeNotif()" style="font-size: 60px; position:fixed; top:0; z-index:1000;">&times;</a>
        .ui.cards(style="margin: 0;")
          each notif in notifs
            .card.fluid.not
              .content
                .meta
                  p= notif["date"]
                .description
                  p= notif["notification"]
    .container
      title= title
      link(rel="stylesheet", href="/semantic/semantic.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src="/javascripts/active.js")
      script(src="/socket.io/socket.io.js")
      a#titre(href="/")= "Matcha"
      br
      br
      if (user)
        .ui.menu#grey
          a.item#index(href="/") Index
            a.item#u(href="/u") Utilisateurs
          .right.menu
            if (user)
              a.item#profil(href="/profil") Profil
              a.item#logout(href="/logout") Déconnection
            else
              a.item#login(href="login") Connection
              a.item#register(href="/register") Nouveau ?
      if (locals && locals.error)
        .ui.error.message
          .header Erreur
          i.close.icon
          p= locals.error
      if (locals && locals.success)
        .ui.success.message
          .header Message
          i.close.icon
          p= locals.success
      if (locals && locals.warning)
        .ui.warning.message
          .header Message
          i.close.icon
          p= locals.warning
      if (locals && locals.info)
        .ui.info.message
          .header Info
          i.close.icon
          p= locals.info
      br
      if (user)
        script.
          var socket = io.connect();
          socket.on('error', function (reason){
            console.error('Unable to connect Socket.IO', reason);
          });
          socket.on('notif', function( data ) {
            alert(data);
          });
          socket.on('message', function(data) {
            if (location.pathname == "/u/" + data.username)
              addChatMessage(data)
            else
              alert("Vous avez recu un message de " + data.username)
          });
  body
    block content
