doctype html
html
  head
    if (user && notifs)
      .ui.left.fixed.vertical.menu.notifBar(style="width:0; padding-top: 40px;")
        .ui.cards.notif(style="margin: 0;")
          each notif in notifs
            .card.fluid.not
              .content
                .meta
                  p= notif["date"]
                .description
                  p= notif["notification"]
    title= title
    link(rel="stylesheet", href="/semantic/semantic.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/javascripts/active.js")
    script(src="/socket.io/socket.io.js")
    if (user)
      .ui.menu.big.fluid.headerbar
        .item.primary(onclick="openNotif()")
          i.content.icon
          span.text Notif
        a.item#index(href="/")
          i.icon.home
        a.item#u(href="/u")
          i.icon.users
        .center
          a#titre(href="/")= "Matcha"
        .right.menu
          a.item.tooltip#search(href="/search")
            i.icon.search
          a.item.tooltip#profil(href="/profil")
            i.icon.setting
          a.item.tooltip#logout(href="/logout")
            i.icon.sign.out
    else
      a#titre(href="/" style="font-size: 100px;")= "Matcha"
    .container
      br
      if (locals && locals.error)
        .ui.error.message
          .header
            span Erreur
          i.close.icon
          span= locals.error
      if (locals && locals.success)
        .ui.success.message
          .header
            span Message
          i.close.icon
          span= locals.success
      if (locals && locals.warning)
        .ui.warning.message
          .header
            span Message
          i.close.icon
          span= locals.warning
      if (locals && locals.info)
        .ui.info.message
          .header
            span Info
          i.close.icon
          span= locals.info
      if (user)
        script.
          var socket = io.connect();
          socket.on('error', function (reason){
            console.error('Unable to connect Socket.IO', reason);
          });
          socket.on('notif', function( data ) {
            alert(data);
          });
          socket.on('message', function(data) {
            if (location.pathname == "/u/" + data.username){
              addChatMessage(data)
              openChat()}
            else
              alert("Vous avez recu un message de " + data.username)
          });
  body
    block content
