extends layout

block content
  - var blocked = 0
  link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  link(rel="stylesheet", href="/resources/demos/style.css")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  .container
    span= "Trier par : "
    .blue.ui.buttons
      a.ui.button(href="/sort/age") Age
      a.ui.button(href="/sort/pop") Popularité
      a.ui.button(href="/sort/other") Autre
    label(for="amount") Age:
    input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
    #slider-range
    .ui.clearing.divider
    .ui.link.cards
      each row in rows
        each block in blocks
          if block["blocked"] == row["username"]
            - blocked = 1
        if blocked == 0
          a.ui.card#grey(href="/u/"+ row["username"])
            .image
              img(src=row["pic0"])
            .content
              if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.man.icon.right.floated
              else
                .ui.right.floated.icon.button.pink
                  i.woman.icon.right.floated
              .header= row["firstname"].substring(0,25) + " " + row["lastname"].substring(0,25)
              .meta
                span= row["age"] + " ans."
              .description
                if (row["bio"].length > 699)
                  span= row["bio"].substring(0,699)+" ..."
                else
                  span= row["bio"]
            .extra.content
              .ui.labeled.icon.button.red
                i.heart.icon
                p= row["likes"]
              if (row["orientation"] == "Hétérosexuelle")
                .ui.right.floated.icon.button
                  i.heterosexual.icon.right.floated
              else if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.gay.icon.right.floated
              else if row["sexe"] == "Femme"
                .ui.right.floated.icon.button.pink
                  i.lesbian.icon.right.floated
              if (row["orientation"] == "Bisexuelle")
                .ui.right.floated.icon.button
                  i.heterosexual.icon.right.floated
        else
          - blocked = 0
    script.
      $( function() {
        $( "#slider-range" ).slider({
          range: true,
          min: 18,
          max: 99,
          values: [ 18, 99 ],
          slide: function( event, ui ) {
            $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          }
        });
        $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
          " - " + $( "#slider-range" ).slider( "values", 1 ) );
      } );
