extends layout

block content
  - var blocked = 0
  link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="/javascripts/distance.js")
  script(src="/javascripts/users.js")
  .container
    .ui.grid
      .height.wide.column
        label(for="amount-age") Filtrer par âge :
        input(type="text" id="amount-age" readonly style="border:0; color:#f6931f; font-weight:bold;")
        #slider-range-age
      .height.wide.column
        label(for="amount-pop") Filtrer par popularité :
        input(type="text" id="amount-pop" readonly style="border:0; color:#f6931f; font-weight:bold;")
        #slider-range-pop
      .height.wide.column
        label(for="amount-dist") Filtrer par distance (km) :
        input(type="text" id="amount-dist" readonly style="border:0; color:#f6931f; font-weight:bold;")
        #slider-range-dist
      .left.floated
        button.ui.button.primary#validate Filtrer
    br
    .ui.clearing.divider
    .ui.grid
      .right.floated.right.aligned
        span= "Trier par : "
        .blue.ui.buttons
          button.ui.button#ageAscending Age
          button.ui.button#popDescending Pop
          button.ui.button#distAscending Dist
          button.ui.button#tagsAscending Tags
    br
    each tag, index in alltags
      button.ui.label.yellow(onclick="sorttag(" + tag["tag"] + ")" style="margin-top: 5px;")= tag["tag"]
    br
    span#userlat(style="visibility: hidden")= userlat
    span#userlon(style="visibility: hidden")= userlon
    .ui.link.cards.users
      each row in rows
        each block in blocks
          if block["blocked"] == row["username"]
            - blocked = 1
        if blocked == 0
          a.ui.card.user#grey(href="/u/"+ row["username"])
            .image
              img(src=row["pic0"])
            .content
              if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.man.icon.right.floated
              else
                .ui.right.floated.icon.button.pink
                  i.woman.icon.right.floated
              .header= row["firstname"].substring(0,25) + " " + row["lastname"].substring(0,25)
              .meta
                span#age= row["age"] + " ans."
                br
                span= "Distance : "
                span#dist
                span km
                span#lat(style="visibility: hidden")= row["lat"]
                span#lon(style="visibility: hidden")= row["lon"]
              .description
                if (row["bio"].length > 699)
                  span= row["bio"].substring(0,699)+" ..."
                else
                  span= row["bio"]
            .extra.content(style="padding:0;")
              each tag in tags
                if tag["username"] === row["username"].toLowerCase()
                  .ui.label.yellow= tag["tag"]
            .extra.content
              .ui.labeled.icon.button.red
                i.heart.icon
                p#pop= row["likes"]
              if (row["orientation"] == "Hétérosexuelle")
                .ui.right.floated.icon.button#gold
                  i.heterosexual.icon.right.floated
              else if row["sexe"] == "Homme"
                .ui.right.floated.icon.button.blue
                  i.gay.icon.right.floated
              else if row["sexe"] == "Femme"
                .ui.right.floated.icon.button.pink
                  i.lesbian.icon.right.floated
              if (row["orientation"] == "Bisexuelle")
                .ui.right.floated.icon.button#gold
                  i.heterosexual.icon.right.floated
        else
          - blocked = 0
